version: 2.1


setup: false


orbs:
  continuation: circleci/continuation@0.1.2

executors:
  myex:
    docker:
      - image: cimg/ruby:2.7.4
    resource_class: small

commands:
  setup:
    steps:
      - checkout
      - restore_cache:
          key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
      - run: bundle install
      - save_cache:
          key: gem-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

jobs:
  rubocop:
    executor: myex
    steps:
      - setup
      - run: bundle exec rubocop
  rspec:
    executor: myex
    steps:
      - setup
      - run: bundle exec rspec


workflows:
  build:
    jobs:
      - rubocop
      - rspec:
          requires:
            - rubocop
